h1 {
  color: violet;
  text-align: center;
}
h2 {
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
img {
  width: 400px;
}

p {
  width: 380px;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.content {
  border-style: solid;
  margin: 30px;
  padding: 25px;
}
